{% extends 'base.html' %}

{% block link -%}
<link rel="stylesheet", type="text/css", href="/static_files/css/keyboards.css">
{% endblock %}

{% block section -%}
<div class="conteiner">
	<div class="main_information">
		<div class="heading">
			All About Custom Keyboards
		</div>
		<div class="steps">
			<div class="size">
				<p>Step 1: Finding the Right Size Keyboard</p>
				<span>
					Here is a quick overview of all of the different keyboard sizes:
					<ul>
						<li>
							Full-sized - You usually can’t find this size for custom keyboards, it’s only used on pre-built keyboard
						</li>
						<li>
							75% - The navigational cluster is placed vertically to save space. Fun and comfortable to use
						</li>
						<li>
							65% - This layout removes the function row and keeps some of the navigational cluster
						</li>
						<li>
							60% - The most common custom keyboard layout. There is no function row, arrow keys, or navigational cluster
						</li>
						<li>
							40% - The smallest size that you can still type on. It’s basically a 60% keyboard except you remove the numeric keys
						</li>
					</ul>
				</span>
				<span class="step-1-img">
					<img src="static_files/photo/step-1s.jpg", alt="s1_pic", class="img-1">
				</span>
			</div>

			<div class="cases-and-plates">
				<p>Step 2: Cases and Plates</p>
				<span>
					So, the second step. I can recommend you to choose plastic, aluminum, acrylic, brass or wooden keyboard case. What about plate? You also having a wide selection. For example, you can choose aluminum, steel, brass, carbon fiber, POM plates!
				</span>
			</div>

			<div class="circuit-board">
				<p>Step 3: Circuit Board</p>
				<span>
					This point depends on the previous steps, but you need to pay attention to the size of your case and technical specifications (wired, with or without Wi-Fi/Bluetooth modules)

				</span>
			</div>

			<div class="switches">
				<p>Step 4: Choose Switches</p>
				<span>
					As I think, It's the hardest part of creating a custom keyboard. So, 

				</span>
			</div>

			<div class="keycaps">
				<p>Step 5: Choose Keycaps</p>
				<span></span>
			</div>
		</div>
	</div>

	<div class="keycaps">
		<span><i>G</i></span>
		<span><i>G</i></span>
		<span><i>E</i></span>
		<span><i>Z</i></span>
	</div>
</div>

{% endblock %}